/* 
   GI Footer
   ========================================================================== */

#goinstant-header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  z-index: 1000;
  background: #0B5C94;
  color: #C4E2FF;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
  font-family: sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

  #goinstant-header a {
    color: #C6DCF3;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

    #goinstant-header a:hover {
      color: white;
    }

  #goinstant-header ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    list-style-type: none;
  }

    #goinstant-header ul li {
      display: inline-block;
      margin-left: 1.5em;
    }

    #goinstant-header .gi-links img {
      position: relative;
      top: 7px;
    }
  
  #goinstant-header .gi-links {
    float: left;
  }

    #goinstant-header .gi-links li:not(.gi-logo) {
      position: relative;
      top: 9px;
    }

  #goinstant-header .gi-social {
    float: right;
    padding: 11px;
  }

    #goinstant-header .gi-social .twitter-share-button {
      margin-right: -2em;
    }
    
    #goinstant-header .gi-social .gi-label {
      position: relative;
      top: -4px;
      font-size: .85em;
      margin-right: 1em;
    }