body {
  padding-bottom: 6em;
}
.app-wrapper {
  float: none;
  margin: 1.5em auto;
}
form[role="add-todo"] {
  margin-bottom: 1.5em;
}
.list-group {
  max-height: 500px;
  overflow-y: auto;
}
.list-group .checkbox {
  margin: .25em 0;
}
.remove-todo {
  color: #ccc;
  float: right;
}
.remove-todo:hover {
  color: #b30000;
  background: #eee;
}
.remove-todo:active {
  color: red;
}
.remove-todo:focus {
  outline: none;
}
.todo-count {
  font-size: 1.1em;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .25em 0;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 -1px 10px 3px #ffffff;
}
#footer h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .7em;
  font-weight: bold;
}
#footer h6 a {
  color: #aaa;
}
#footer h6 a img {
  position: relative;
  top: -1px;
  opacity: .8;
}
#footer h6 a:hover {
  text-decoration: none;
  color: #888;
}
#footer h6 a:hover img {
  opacity: 1;
}
